<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<h2>Ping Pong</h2>

<div style="width: 400px; margin: auto;">
  <h2>Players</h2>

  <div *ngIf="players">
    <hr>
    <ul>
      <li *ngFor="let player of players;">
        {{player.firstName}} {{player.lastName}}
      </li>
    </ul>
  </div>
</div>

<router-outlet></router-outlet>
